In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
suicidios = pd.read_csv("Datos suicidio.csv")

In [6]:
suicidios.info()
suicidios.head()
suicidios.drop(columns="Unnamed: 29",inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  228 non-null    object
 1    1990         226 non-null    float64
 2   1991          226 non-null    float64
 3   1992          226 non-null    float64
 4   1993          226 non-null    float64
 5   1994          226 non-null    float64
 6   1995          226 non-null    float64
 7   1996          226 non-null    float64
 8   1997          226 non-null    float64
 9   1998          226 non-null    float64
 10  1999          226 non-null    float64
 11  2000          226 non-null    float64
 12  2001          226 non-null    float64
 13  2002          226 non-null    float64
 14  2003          226 non-null    float64
 15  2004          226 non-null    float64
 16  2005          226 non-null    float64
 17  2006          226 non-null    float64
 18  2007          226 non-null    float64
 19  2008          226 non-null    float64
 20  2009          226 non-null    float64
 21  2010          226 non-null    float64
 22  2011          226 non-null    float64
 23  2012          226 non-null    float64
 24  2013          226 non-null    float64
 25  2014          226 non-null    float64
 26  2015          226 non-null    float64
 27  2016          226 non-null    float64
 28  2017          226 non-null    float64
 29  Unnamed: 29   0 non-null      float64
dtypes: float64(29), object(1)
memory usage: 53.6+ KB

In [7]:
suicidios

,country_name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,13.478,13.426,13.242,13.499,13.434,13.384,13.071,12.812,12.553,...,13.605,13.746,13.688,13.960,14.055,14.148,14.342,14.664,15.013,15.023
1,Japan,19.077,19.005,19.183,19.260,19.206,19.924,20.155,20.995,23.392,...,25.421,25.245,25.011,24.806,23.826,23.315,22.864,22.202,22.306,22.451
2,India,18.364,18.496,18.601,18.070,17.743,17.488,17.152,17.714,17.898,...,16.142,16.424,16.709,16.941,16.508,16.011,15.750,15.171,15.299,15.274
3,France,25.802,25.580,25.383,25.446,24.792,24.329,24.042,23.587,23.431,...,19.656,20.000,19.918,19.542,18.862,18.309,17.584,17.420,16.918,16.842
4,China,19.150,19.538,20.062,20.196,20.055,19.865,19.093,18.126,17.091,...,10.167,10.037,9.891,9.516,9.237,9.022,9.091,9.144,9.098,9.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Central America,5.957,6.138,6.291,6.447,6.741,6.796,6.744,6.969,7.141,...,6.601,6.538,6.438,6.347,6.200,6.182,6.293,6.321,6.439,6.492
224,Northern Africa,4.591,4.634,4.680,4.784,4.873,4.920,4.988,5.114,5.162,...,5.403,5.520,5.577,5.627,5.608,5.489,5.458,5.458,5.367,5.360
225,Middle Africa,7.671,7.687,7.707,7.763,7.852,7.910,7.957,7.884,7.874,...,7.034,7.016,6.993,6.961,6.963,6.959,6.972,6.986,7.003,7.046
226,Micronesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Polynesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
suicidios.dropna(thresh=20,inplace=True)

In [33]:
for columna in suicidios.columns:
    columna.strip()
    suicidios.rename(columns= {columna : columna.strip()},inplace = True)

In [53]:
suicidios.rename(columns= {"country": "Country"},inplace = True)
suicidios.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [54]:
continentes = pd.read_csv("countries_continents.csv")
pd.merge(suicidios,continentes,how="outer",on="Country")

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Continent
0,Afghanistan,7.400,7.332,6.979,6.818,6.839,6.766,6.652,6.584,6.527,...,5.631,5.542,5.463,5.393,5.346,5.304,5.289,5.269,5.252,Asia
1,Africa,7.617,7.653,7.732,7.803,7.915,8.002,8.054,8.089,8.125,...,7.575,7.515,7.446,7.402,7.347,7.332,7.334,7.309,7.297,NaN
2,Albania,3.626,3.846,3.767,3.694,3.566,3.743,4.018,4.326,4.581,...,5.678,5.717,5.753,5.763,5.810,5.879,5.887,5.881,5.856,Europe
3,Algeria,3.987,4.037,4.106,4.198,4.399,4.491,4.589,4.700,4.758,...,4.675,4.591,4.562,4.494,4.458,4.439,4.392,4.272,4.198,Africa
4,American Samoa,5.915,5.859,5.802,5.786,5.784,5.765,5.740,5.768,5.737,...,5.585,5.691,5.775,5.851,5.929,6.013,6.173,6.206,6.258,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Western Europe,21.178,21.252,21.038,21.009,20.818,20.466,19.977,19.522,19.062,...,16.173,16.019,15.901,15.725,15.540,15.198,15.191,14.914,14.786,NaN
222,World,11.200,11.249,11.368,11.608,11.789,11.860,11.733,11.687,11.666,...,10.741,10.625,10.510,10.405,10.296,10.215,10.200,10.124,10.097,NaN
223,Yemen,4.551,4.562,4.612,4.686,4.765,4.839,4.889,4.928,4.939,...,4.816,4.762,4.747,4.710,4.680,4.666,4.709,4.769,4.826,Asia
224,Zambia,8.121,8.437,8.723,8.983,9.191,9.364,9.357,9.198,8.977,...,6.485,6.542,6.561,6.527,6.494,6.502,6.563,6.643,6.685,Africa
225,Zimbabwe,10.250,9.914,10.088,10.438,11.231,12.687,13.131,14.170,15.764,...,22.214,21.334,20.182,19.322,18.750,18.358,18.222,18.136,17.993,Africa

In [40]:
media_mundial_suicidios = suicidios.iloc[::,1::5].mean()
media_mundial_suicidios

1990    11.368531
1995    12.020867
2000    11.679372
2005    11.362823
2010    10.762593
2015    10.320743
dtype: float64

In [15]:
suicidios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226 entries, 0 to 225
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  226 non-null    object
 1    1990         226 non-null    float64
 2   1991          226 non-null    float64
 3   1992          226 non-null    float64
 4   1993          226 non-null    float64
 5   1994          226 non-null    float64
 6   1995          226 non-null    float64
 7   1996          226 non-null    float64
 8   1997          226 non-null    float64
 9   1998          226 non-null    float64
 10  1999          226 non-null    float64
 11  2000          226 non-null    float64
 12  2001          226 non-null    float64
 13  2002          226 non-null    float64
 14  2003          226 non-null    float64
 15  2004          226 non-null    float64
 16  2005          226 non-null    float64
 17  2006          226 non-null    float64
 18  2007          226 non-null    float64
 19  2008          226 non-null    float64
 20  2009          226 non-null    float64
 21  2010          226 non-null    float64
 22  2011          226 non-null    float64
 23  2012          226 non-null    float64
 24  2013          226 non-null    float64
 25  2014          226 non-null    float64
 26  2015          226 non-null    float64
 27  2016          226 non-null    float64
 28  2017          226 non-null    float64
dtypes: float64(28), object(1)
memory usage: 53.0+ KB