In [2]:
import pandas as pd 
import numpy as np

INTRODUCCIÓN PRIMER DATASET
MOSTRAR HEAD, SHAPE INFO
DTYPES Y PROBLEMAS

In [3]:
Principal_disorders = pd.read_csv("Principal_disorders.csv")

C:\Users\rafac\AppData\Local\Temp\ipykernel_23240\3891440191.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  Principal_disorders = pd.read_csv("Principal_disorders.csv")

In [4]:
Principal_disorders.columns

Index(['index', 'Entity', 'Code', 'Year', 'Schizophrenia (%)',
       'Bipolar disorder (%)', 'Eating disorders (%)', 'Anxiety disorders (%)',
       'Drug use disorders (%)', 'Depression (%)',
       'Alcohol use disorders (%)'],
      dtype='object')

ELIMINO LAS COLUMNAS QUE NO ME HACEN FALTA

In [5]:
Principal_disorders.drop(["Alcohol use disorders (%)"], axis = 1, inplace = True)
Principal_disorders.drop(["Drug use disorders (%)"], axis = 1, inplace = True)
Principal_disorders.rename(columns={"Entity":"Country"},inplace=True)

In [6]:

Principal_disorders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  108553 non-null  int64
 1   Country                108553 non-null  object
 2   Code                   103141 non-null  object
 3   Year                   108553 non-null  object
 4   Schizophrenia (%)      25875 non-null   object
 5   Bipolar disorder (%)   19406 non-null   object
 6   Eating disorders (%)   100236 non-null  object
 7   Anxiety disorders (%)  6468 non-null    float64
 8   Depression (%)         6468 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 7.5+ MB

PRIMEROS AJUSTES EN LA COLUMNA SHIZOPHRENIA %

In [7]:
len(Principal_disorders["Schizophrenia (%)"][Principal_disorders["Schizophrenia (%)"].isnull()])

82678

In [8]:
España = Principal_disorders[["Schizophrenia (%)", "Year","Country"]].set_index("Country").loc["Spain"]
España[["Year","Schizophrenia (%)"]][28:]

         Year Schizophrenia (%)
Country
Spain    1800               NaN
Spain    1801               NaN
Spain    1802               NaN
Spain    1803               NaN
Spain    1804               NaN
...       ...               ...
Spain    2013     1819825.91609
Spain    2014     1820631.15389
Spain    2015     1821985.80629
Spain    2016     1823137.20919
Spain    2017     1824111.78683

[468 rows x 2 columns]

EXISTÍAN VALORES DESDE EL AÑO 1800 PARA CADA PAÍS Y ADEMÁS HABÍA VALORES DE "YEAR" EXTRAÑOS Y QUE CONTENÍAN LETRAS

In [9]:
Principal_disorders.groupby(["Country","Year"])[["Schizophrenia (%)","Bipolar disorder (%)","Eating disorders (%)","Anxiety disorders (%)","Depression (%)"]].count()[:220]

                  Schizophrenia (%)  Bipolar disorder (%)  \
Country     Year
Afghanistan 1800                  0                     0
            1801                  0                     0
            1802                  0                     0
            1803                  0                     0
            1804                  0                     0
...                             ...                   ...
            2015                  4                     3
            2016                  4                     3
            2017                  4                     3
            2018                  0                     0
            2019                  0                     0

                  Eating disorders (%)  Anxiety disorders (%)  Depression (%)
Country     Year
Afghanistan 1800                     2                      0               0
            1801                     2                      0               0
            1802                     2                      0               0
            1803                     2                      0               0
            1804                     2                      0               0
...                                ...                    ...             ...
            2015                     3                      1               1
            2016                     3                      1               1
            2017                     3                      1               1
            2018                     2                      0               0
            2019                     2                      0               0

[220 rows x 5 columns]

In [10]:
Principal_disorders.set_index("index",inplace = True)

In [11]:
Principal_disorders = Principal_disorders[Principal_disorders["Year"].astype(str).str.isdigit()]

In [12]:
Principal_disorders["Year"].unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '1800', '1801', '1802', '1803',
       '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811',
       '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819',
       '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827',
       '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835',
       '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843',
       '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851',
       '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859',
       '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867',
       '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875',
       '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883',
       '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891',
       '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899',
       '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907',
       '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915',
       '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923',
       '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931',
       '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939',
       '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947',
       '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955',
       '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '2018', '2019', '0', '100', '200', '300', '400',
       '500', '600', '700', '800', '900', '1000', '1100', '1200', '1300',
       '1400', '1500', '1600', '1700', '1710', '1720', '1730', '1740',
       '1750', '1760', '1770', '1780', '1790', '1'], dtype=object)

FILTRO POR LOS AÑOS QUE ME INTERESAN,ANTES HABIENDO PASADO LAS COLUMNAS A NÚMEROS Y CONVIRTIENDO LOS VALORES QUE CONTENÍAN LETRAS EN NAN

In [13]:
Principal_disorders = Principal_disorders.reset_index(drop=True)

In [14]:
Principal_disorders["Year"]= pd.to_numeric(Principal_disorders["Year"],errors = "coerce")

In [15]:
Principal_disorders = Principal_disorders[(Principal_disorders["Year"]>=1990)& (Principal_disorders["Year"]<= 2017)]

In [16]:
Principal_disorders["Year"].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017])

ELIMINO TODOS LOS VALORES DEL RESTO DE COLUMNAS QUE NO ESTÉN DENTRO DEL FILTRO

In [17]:
Principal_disorders = Principal_disorders.dropna(subset = ["Year"])
Principal_disorders.reset_index(inplace=True,drop=True)

In [18]:
Principal_disorders["Schizophrenia (%)"] = Principal_disorders["Schizophrenia (%)"].astype(float)

In [19]:
Principal_disorders["Schizophrenia (%)"][1000:1500]

1000    0.188008
1001    0.188287
1002    0.188573
1003    0.188861
1004    0.189143
          ...
1495    0.252311
1496    0.252471
1497    0.252666
1498    0.252842
1499    0.252947
Name: Schizophrenia (%), Length: 500, dtype: float64

In [20]:
Principal_disorders["Schizophrenia (%)"] = Principal_disorders["Schizophrenia (%)"][Principal_disorders["Schizophrenia (%)"]< 10]

In [21]:
Principal_disorders["Schizophrenia (%)"].idxmax()

20232

,Country,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Depression (%)
0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,4.071831
1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,4.079531
2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,4.088358
3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,4.096190
4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,4.099582
...,...,...,...,...,...,...,...,...
28331,Zimbabwe,ZWE,2013,NaN,NaN,NaN,NaN,NaN
28332,Zimbabwe,ZWE,2014,NaN,NaN,NaN,NaN,NaN
28333,Zimbabwe,ZWE,2015,NaN,NaN,NaN,NaN,NaN
28334,Zimbabwe,ZWE,2016,NaN,NaN,NaN,NaN,NaN
28335,Zimbabwe,ZWE,2017,NaN,NaN,NaN,NaN,NaN

In [27]:
Principal_disorders["Schizophrenia (%)"][Principal_disorders["Schizophrenia (%)"].isnull()]

6496    NaN
6497    NaN
6498    NaN
6499    NaN
6500    NaN
         ..
28331   NaN
28332   NaN
28333   NaN
28334   NaN
28335   NaN
Name: Schizophrenia (%), Length: 12427, dtype: float64