In [98]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
suicidios = pd.read_csv("Datos suicidio.csv")

In [5]:
suicidios.info()
suicidios.head()
suicidios.drop(columns="Unnamed: 29",inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  228 non-null    object
 1    1990         226 non-null    float64
 2   1991          226 non-null    float64
 3   1992          226 non-null    float64
 4   1993          226 non-null    float64
 5   1994          226 non-null    float64
 6   1995          226 non-null    float64
 7   1996          226 non-null    float64
 8   1997          226 non-null    float64
 9   1998          226 non-null    float64
 10  1999          226 non-null    float64
 11  2000          226 non-null    float64
 12  2001          226 non-null    float64
 13  2002          226 non-null    float64
 14  2003          226 non-null    float64
 15  2004          226 non-null    float64
 16  2005          226 non-null    float64
 17  2006          226 non-null    float64
 18  2007          226 non-null    float64
 19  2008          226 non-null    float64
 20  2009          226 non-null    float64
 21  2010          226 non-null    float64
 22  2011          226 non-null    float64
 23  2012          226 non-null    float64
 24  2013          226 non-null    float64
 25  2014          226 non-null    float64
 26  2015          226 non-null    float64
 27  2016          226 non-null    float64
 28  2017          226 non-null    float64
 29  Unnamed: 29   0 non-null      float64
dtypes: float64(29), object(1)
memory usage: 53.6+ KB

In [6]:
suicidios.dropna(thresh=20,inplace=True)

In [7]:
for columna in suicidios.columns:
    columna.strip()
    suicidios.rename(columns= {columna : columna.strip()},inplace = True)

In [8]:
suicidios.rename(columns= {"country_name": "Country"},inplace = True)

In [9]:
poblacion = pd.read_csv("Poblacion.csv")
continentes = pd.read_csv("countries_continents.csv")
df_cont = pd.merge(suicidios,continentes,on= "Country",how = "outer")
suicidios_final = pd.merge(df_cont,poblacion,on="Country",how= "outer")

In [10]:
suicidios_final.dropna(axis = 0,thresh=30,inplace=True)

In [11]:
suicidios_final.drop(columns="1990",inplace=True)

In [12]:
suicidios_long = suicidios_final.melt(id_vars=['Country', 'Continent', 'Population'],var_name='año',value_name='suicidios')

LIMPIO EL DATASET DE DESEMPLEO Y LE AÑADO LO PERTINENTE PARA UNIRLOS

In [13]:
desempleo= pd.read_csv("desempleo.csv")

In [14]:
desempleo.drop(columns={"Unnamed: 33"},inplace=True)

In [15]:
desempleo.drop(axis=1,columns={"2018","2019","2020","2021","2022"},inplace=True)

In [16]:
desempleo.dropna(how="all",inplace=True)
desempleo.rename(columns={"country_name":"Country"},inplace=True)

In [17]:
poblacion = pd.read_csv("Poblacion.csv")
continentes = pd.read_csv("countries_continents.csv")
df_cont = pd.merge(desempleo,continentes,on= "Country",how = "outer")
desempleo_final = pd.merge(df_cont,poblacion,on="Country",how= "outer")

In [18]:
desempleo_final.dropna(axis=0,thresh=30,inplace=True)

In [19]:
desempleo_long = desempleo_final.melt(id_vars=['Country', 'Continent'],var_name='año',value_name='desempleo')

UNO LOS DATASET DE SUICIDIOS Y EL DE DESEMPLEO

In [20]:
suicidio_desempleo = pd.merge(suicidios_long,desempleo_long,how="inner",on=["Country","Continent","año"])

LIMPIO Y PREPARO EL DATASET DE ACCESO A LA SANIDAD PARA UNIRLO TAMBIÉN

In [21]:
sanidad = pd.read_csv("sanidad.csv")

In [22]:
sanidad.head()
sanidad.columns
sanidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  228 non-null    object
 1    1990         226 non-null    float64
 2   1991          226 non-null    object
 3   1992          226 non-null    object
 4   1993          226 non-null    object
 5   1994          226 non-null    object
 6   1995          226 non-null    float64
 7   1996          226 non-null    object
 8   1997          226 non-null    object
 9   1998          226 non-null    object
 10  1999          226 non-null    object
 11  2000          226 non-null    float64
 12  2001          226 non-null    object
 13  2002          226 non-null    object
 14  2003          226 non-null    object
 15  2004          226 non-null    object
 16  2005          226 non-null    float64
 17  2006          226 non-null    object
 18  2007          226 non-null    object
 19  2008          226 non-null    object
 20  2009          226 non-null    object
 21  2010          226 non-null    float64
 22  2011          226 non-null    object
 23  2012          226 non-null    object
 24  2013          226 non-null    object
 25  2014          226 non-null    object
 26  2015          226 non-null    float64
 27  Unnamed: 27   0 non-null      float64
dtypes: float64(7), object(21)
memory usage: 50.0+ KB

In [23]:
for columna in sanidad.columns:
    columna.strip()
    sanidad.rename(columns= {columna : columna.strip()},inplace = True)

In [24]:
sanidad.drop(columns={"1990","Unnamed: 27"},inplace=True)

In [25]:
for columna in sanidad.select_dtypes(include=['object']).columns:
    sanidad[columna] = sanidad[columna].str.replace('*', '', regex=False)

In [26]:
sanidad.rename(columns={"country_name":"Country"},inplace=True)

In [27]:
df_cont = pd.merge(sanidad,continentes,on= "Country",how = "outer")
sanidad_final = pd.merge(df_cont,poblacion,on="Country",how= "outer")

In [28]:
sanidad_final.dropna(thresh=28,inplace=True)

In [29]:
sanidad_final[["1996","1997","1998","1999","2001","2002","2003","2004","2006","2007","2008","2009","2011","2012","2013","2014"]] = sanidad_final[["1996","1997","1998","1999","2001","2002","2003","2004","2006","2007","2008","2009","2011","2012","2013","2014"]].astype(float)

In [30]:
sanidad_long = sanidad_final.melt(id_vars=['Country', 'Continent'],var_name='año',value_name='sanidad')

UNO EL DATASET SANIDAD A LA UNIÓN DE LOS OTROS DOS

In [57]:
suicidio_desempleo_sanidad = pd.merge(suicidio_desempleo,sanidad_long,how="inner",on=["Country","Continent","año"])

In [58]:
suicidio_desempleo_sanidad

,Country,Continent,Population,año,suicidios,desempleo,sanidad
0,Afghanistan,Asia,38928341.0,1992,6.979,7.940,24.620
1,Albania,Europe,2877797.0,1992,3.767,30.007,63.480
2,Algeria,Africa,43851044.0,1992,4.106,24.380,49.960
3,Angola,Africa,32866272.0,1992,8.817,16.621,26.720
4,Argentina,South America,45376763.0,1992,10.684,6.360,58.560
...,...,...,...,...,...,...,...
4243,Vietnam,Asia,97338583.0,2015,7.675,1.849,66.3
4244,Virgin Islands (U.S.),North America,104000.0,2015,8.707,12.146,70.2
4245,Yemen,Asia,29825964.0,2015,4.709,17.900,49.6
4246,Zambia,Africa,18383955.0,2015,6.563,8.316,41.6
4247,Zimbabwe,Africa,14862927.0,2015,18.222,5.383,48.7

LIMPIO Y PREPARO EL DATASET DE WORLD HAPPINESS REPORT

In [33]:
felicidad = pd.read_csv("World Happiness Report.csv")

In [ ]:
felicidad.columns

In [35]:
felicidad = felicidad[["Country Name","Year","Social Support","Freedom To Make Life Choices"]]

In [40]:
felicidad.rename(columns={"Country Name":"Country"},inplace=True)

In [ ]:
felicidad.info()
felicidad.head()

In [83]:
felicidad_ordenada = felicidad.pivot_table(index=['Country', 'Year'],values=['Social Support', 'Freedom To Make Life Choices'],aggfunc='mean')

In [84]:
felicidad_ordenada

                  Freedom To Make Life Choices  Social Support
Country     Year
Afghanistan 2008                      0.718114        0.450662
            2009                      0.678896        0.552308
            2010                      0.600127        0.539075
            2011                      0.495901        0.521104
            2012                      0.530935        0.520637
...                                        ...             ...
Zimbabwe    2018                      0.762675        0.775388
            2019                      0.631908        0.759162
            2020                      0.643303        0.717243
            2021                      0.667636        0.685151
            2022                      0.651987        0.666172

[2193 rows x 2 columns]

LIMPIO Y PREPARO EL DATASET DE PREVALENCIA DE LA DEPRESIÓN

In [47]:
depresion = pd.read_csv("depresion.csv")

In [ ]:
depresion.columns

Index(['country_name', ' 1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', 'Unnamed: 28'],
      dtype='object')

In [52]:
for columna in depresion.columns:
    columna.strip()
    depresion.rename(columns= {columna : columna.strip()},inplace = True)

In [54]:
depresion.drop(columns={"1990",'Unnamed: 28'},inplace=True)

In [ ]:
depresion.info()

In [59]:
depresion.rename(columns={"country_name":"Country"},inplace=True)

In [69]:
depresion.dropna(thresh=20,inplace=True)

In [70]:
df_cont = pd.merge(depresion,continentes,on= "Country",how = "outer")
depresion_final = pd.merge(df_cont,poblacion,on="Country",how= "outer")

In [75]:
depresion_final.dropna(thresh=28,inplace=True)

In [77]:
depresion_long = depresion_final.melt(id_vars=['Country', 'Continent'],var_name='año',value_name='depresion')

UNO LA ÚLTIMA VARIABLE A EL DATASET CON LAS VARIABLES SUICIDIOS SANIDAD Y DESEMPLEO

In [78]:
variables = pd.merge(suicidio_desempleo_sanidad,depresion_long,how="inner",on=["Country","Continent","año"])

In [81]:
variables["sanidad"] = variables["sanidad"].astype(float)

YA TENGO LOS DOS DATA SETS CON LOS QUE VOY A TRABAJAR LIMPIOS: VARIABLES Y WORLD HAPPINESS REPORT

In [82]:
variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4248 entries, 0 to 4247
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     4248 non-null   object
 1   Continent   4248 non-null   object
 2   Population  4248 non-null   float64
 3   año         4248 non-null   object
 4   suicidios   4248 non-null   float64
 5   desempleo   4248 non-null   float64
 6   sanidad     4248 non-null   float64
 7   depresion   4248 non-null   float64
dtypes: float64(5), object(3)
memory usage: 265.6+ KB

In [85]:
felicidad_ordenada.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2193 entries, ('Afghanistan', np.int64(2008)) to ('Zimbabwe', np.int64(2022))
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Freedom To Make Life Choices  2166 non-null   float64
 1   Social Support                2186 non-null   float64
dtypes: float64(2)
memory usage: 46.3+ KB

ESTADÍSTICOS Y GRÁFICOS:

HIPÓTESIS 1 : Los diagnósticos de depresión han ido aumentado progresivamente a nivel global desde la década de 1990

In [ ]:
variables.groupby(["Continent","año"])[["depresion"]].mean()

Esto me proporciona una media por continente con los valores de los paises pero sin tener en cuenta la poblacion de cada uno. Utilizaré otro método para obtener una media relativa

In [ ]:
variables["personas depresion"] = (variables["depresion"]*variables["Population"]/100)
variables["total personas continente"] =

In [112]:
variables.groupby(["año","Continent"])["personas depresion"].sum().loc["1992"]["Africa"]

np.float64(41714840.60139)