In [2]:
import pandas as pd 
import numpy as np

INTRODUCCIÓN PRIMER DATASET
MOSTRAR HEAD, SHAPE INFO
DTYPES Y PROBLEMAS

In [40]:
Principal_disorders = pd.read_csv("Principal_disorders.csv")

C:\Users\rafac\AppData\Local\Temp\ipykernel_22184\3891440191.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  Principal_disorders = pd.read_csv("Principal_disorders.csv")

In [41]:
Principal_disorders.columns

Index(['index', 'Entity', 'Code', 'Year', 'Schizophrenia (%)',
       'Bipolar disorder (%)', 'Eating disorders (%)', 'Anxiety disorders (%)',
       'Drug use disorders (%)', 'Depression (%)',
       'Alcohol use disorders (%)'],
      dtype='object')

ELIMINO LAS COLUMNAS QUE NO ME HACEN FALTA

In [42]:
Principal_disorders.drop(["Alcohol use disorders (%)"], axis = 1, inplace = True)
Principal_disorders.drop(["Drug use disorders (%)"], axis = 1, inplace = True)
Principal_disorders.rename(columns={"Entity":"Country"},inplace=True)

In [43]:

Principal_disorders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  108553 non-null  int64
 1   Country                108553 non-null  object
 2   Code                   103141 non-null  object
 3   Year                   108553 non-null  object
 4   Schizophrenia (%)      25875 non-null   object
 5   Bipolar disorder (%)   19406 non-null   object
 6   Eating disorders (%)   100236 non-null  object
 7   Anxiety disorders (%)  6468 non-null    float64
 8   Depression (%)         6468 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 7.5+ MB

PRIMEROS AJUSTES EN LA COLUMNA SHIZOPHRENIA %

In [44]:
len(Principal_disorders["Schizophrenia (%)"][Principal_disorders["Schizophrenia (%)"].isnull()])

82678

In [103]:
España = Principal_disorders[["Schizophrenia (%)", "Year","Country"]].set_index("Country").loc["Spain"]
España[["Year","Schizophrenia (%)"]][28:]

         Year Schizophrenia (%)
Country
Spain    1800               NaN
Spain    1801               NaN
Spain    1802               NaN
Spain    1803               NaN
Spain    1804               NaN
...       ...               ...
Spain    2013     1819825.91609
Spain    2014     1820631.15389
Spain    2015     1821985.80629
Spain    2016     1823137.20919
Spain    2017     1824111.78683

[468 rows x 2 columns]

In [121]:
Principal_disorders.groupby(["Country","Year"])[["Schizophrenia (%)","Bipolar disorder (%)","Eating disorders (%)","Anxiety disorders (%)","Depression (%)"]].value_counts()

Country      Year  Schizophrenia (%)  Bipolar disorder (%)  Eating disorders (%)  Anxiety disorders (%)  Depression (%)
Afghanistan  1990  0.16056            0.697779              0.101855              4.828830               4.071831          1
             1991  0.160312           0.697961              0.099313              4.829740               4.079531          1
             1992  0.160135           0.698107              0.096692              4.831108               4.088358          1
             1993  0.160037           0.698257              0.094336              4.830864               4.096190          1
             1994  0.160022           0.698469              0.092439              4.829423               4.099582          1
                                                                                                                          ..
Zimbabwe     2013  0.15567            0.607993              0.117248              3.090168               3.128192          1
             2014  0.155993           0.60861               0.118073              3.093964               3.140290          1
             2015  0.156465           0.609363              0.11947               3.098687               3.155710          1
             2016  0.157111           0.610234              0.121456              3.104294               3.174134          1
             2017  0.157963           0.611242              0.124443              3.110926               3.192789          1
Name: count, Length: 6468, dtype: int64

                                                                                                                   count
Country     Year Schizophrenia (%) Bipolar disorder (%) Eating disorders (%) Anxiety disorders (%) Depression (%)
Afghanistan 1990 0.16056           0.697779             0.101855             4.828830              4.071831            1
            1991 0.160312          0.697961             0.099313             4.829740              4.079531            1
            1992 0.160135          0.698107             0.096692             4.831108              4.088358            1
            1993 0.160037          0.698257             0.094336             4.830864              4.096190            1
            1994 0.160022          0.698469             0.092439             4.829423              4.099582            1
...                                                                                                                  ...
Zimbabwe    2013 0.15567           0.607993             0.117248             3.090168              3.128192            1
            2014 0.155993          0.60861              0.118073             3.093964              3.140290            1
            2015 0.156465          0.609363             0.11947              3.098687              3.155710            1
            2016 0.157111          0.610234             0.121456             3.104294              3.174134            1
            2017 0.157963          0.611242             0.124443             3.110926              3.192789            1

[6468 rows x 1 columns]